<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:action="@{/admin/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" name="_method" value="patch"/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/>
    <div th:if="@{#fields.hashErrors('name')}" th:errors="*{name}"></div>

    <label>Age:</label>
    <input type="number" th:field="*{age}" required/><br/>
    <div th:if="@{#fields.hashErrors('age')}" th:errors="*{age}"></div>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required/><br/>
    <div th:if="@{#fields.hashErrors('email')}" th:errors="*{email}"></div>

    <label>Password</label>
    <input type="password" th:field="*{password}" required/><br/>

    <LABEL>Role</LABEL>
    <select th:field="*{role}">
        <option value="ROLE_USER" th:selected="*{role} == 'ROLE_USER'">User</option>
        <option value="ROLE_ADMIN" th:selected="*{role} == 'ROLE_ADMIN'">Admin</option>
    </select></br>
    <button type="submit">Update</button>
</form>

<br/>
<a th:href="@{/admin}">Back to Users List</a>
<p></p>
<a href="/logout">Logout</a>
</body>
</html>
